/*color variables */
$font-family:'Museo';
$font-family-secondary:'Open Sans', sans-serif;
$white:#fff;
$black:#000;
$yellow:#e98300;
$red:#960731;
$light_blck:rgba(0, 0, 0,0.5);
$blur_black:rgba(0, 0, 0,0.2);
$gray:#6f6f6f;
$light_blue:#3f59a6;