// festival-section
.festival-info-section {
  .festival-info-box {
    position: relative;

    .slick-slide {
      i {
        display: block;

        img {
          @include rem-fallback(min-height, 500);

          @include bp(tablet-max) {
            @include rem-fallback(min-height, 350);
          }
        }
      }
    }

    .banner-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;

      .festival-info {
        span {
          display: block;
          color: $white;
          @include rem-fallback(margin-bottom, 10);
          @include rem-fallback(font-size, 24);
          line-height: 1.25;

          @include bp(tablet-max) {
            @include rem-fallback(margin-bottom, 8);
            @include rem-fallback(font-size, 20);
          }

          @include bp(xs-max) {
            @include rem-fallback(font-size, 16);
            @include rem-fallback(margin-bottom, 5);
          }

          i {
            @include rem-fallback(margin-right, 10);
          }
        }

        .explore {
          @include rem-fallback(margin-top, 20);

          a {
            background-color: $yellow;
            color: $white;
            position: relative;
            border: 0;
            text-decoration: none;
            @include rem-fallback(font-size, 25);
            @include rem-fallback(padding, 5, 20);
            @include rem-fallback(border-radius, 4);

            .text {
              z-index: 5;
              position: relative;
              @include rem-fallback(margin-bottom, 0);
              @include rem-fallback(font-size, 25);

              @include bp(tablet-max) {
                @include rem-fallback(font-size, 20);
              }

              @include bp(xs-max) {
                @include rem-fallback(font-size, 15);
              }
            }

            &::after {
              position: absolute;
              content: "";
              top: 0;
              bottom: 0;
              left: 0;
              width: 0;
              border: 0;
              background-color: $red;
              transition: all 0.7s;
              @include rem-fallback(border-radius, 4);
            }

            &:hover:after {
              position: absolute;
              content: "";
              top: 0;
              bottom: 0;
              left: 0;
              width: 100%;
              transition: all 0.7s;
              border: 0;
              background-color: $red;
            }
          }
        }
      }
    }
  }
}
// letest-update-section
.latest-update-section {
  @include rem-fallback(padding, 30, 0);

  @include bp(smlg-max) {
    @include rem-fallback(padding, 15, 0);
  }

  background-image: url(../../public/images/parrelex_bg.png);

  .latest-update {
    display: flex;
    flex-wrap: wrap;
    @include rem-fallback(margin, 0, -15);

    .latest-events-detail {
      flex: 0 0 50%;
      max-width: 50%;

      @include bp(tablet-max) {
        flex: 0 0 100%;
        max-width: 100%;
        @include rem-fallback(margin-bottom, 30);
      }

      @include rem-fallback(padding, 0, 15);

      .slide-event {
        .slick-prev {
          position: absolute;
          @include rem-fallback(top, -30);
          @include rem-fallback(right, 30);
          left: auto;
          z-index: 10;
          background-image: url(../../public/images/left-arrow-red.png);
          background-repeat: no-repeat;
          @include rem-fallback(background-size, 15);
          display: flex;
          background-position: center;
          align-items: center;
          justify-content: center;

          @include bp(xs-max) {
            @include rem-fallback(top, -15);
            @include rem-fallback(background-size, 12);
            @include rem-fallback(right, 20);
          }

          &:before {
            content: "";
          }
        }

        .slick-next {
          position: absolute;
          @include rem-fallback(top, -30);
          @include rem-fallback(right, 0);
          left: auto;
          z-index: 10;
          background-image: url(../../public/images/right-arrow-red.png);
          background-repeat: no-repeat;
          @include rem-fallback(background-size, 15);
          display: flex;
          background-position: center;
          align-items: center;
          justify-content: center;

          @include bp(xs-max) {
            @include rem-fallback(top, -15);
            @include rem-fallback(background-size, 12);
          }

          &:before {
            content: "";
          }
        }
      }
    }

    .perfomance-detail {
      flex: 0 0 25%;
      max-width: 25%;

      @include bp(tablet-max) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include bp(xxxs-max) {
        flex: 0 0 100%;
        max-width: 100%;
        @include rem-fallback(margin-bottom, 20);
      }

      @include rem-fallback(padding, 0, 15);
    }

    .news-detail {
      flex: 0 0 25%;
      max-width: 25%;

      @include bp(tablet-max) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include bp(xxxs-max) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      @include rem-fallback(padding, 0, 15);

      .news-list {
        font-family: $font-family-secondary;

        .news {
          @include rem-fallback(margin-bottom, 10);

          .news-date {
            display: flex;
            align-items: start;
            @include rem-fallback(font-size, 15);
            @include rem-fallback(margin-bottom, 10);

            .date-box {
              display: flex;
              flex-direction: column;
              background-color: $yellow;
              color: $white;
              text-align: center;
              @include rem-fallback(margin-right, 10);
              @include rem-fallback(padding, 5);

              span {
                line-height: 1.2;
              }
            }

            .news-title {
              @include rem-fallback(max-height, 50);
              overflow: hidden;
              text-overflow: ellipsis;
              display: block;
              max-width: 100%;

              h6 {
                @include rem-fallback(margin-bottom, 0);
                @include rem-fallback(font-size, 15);
                line-height: 1.6;
                font-weight: 400;
              }
            }
          }

          .news-content {
            line-height: 1.2;
            @include rem-fallback(max-height, 49);
            @include rem-fallback(font-size, 13);
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 300;
          }
        }
      }
    }
  }
}
// festival-item-section
.festival-item-least-section {
  @include rem-fallback(padding, 30, 0);
  background-image: url(../../public/images/bg-img.png);
  background-size: cover;

  .festival-item-least {
    display: flex;
    flex-wrap: wrap;
    @include rem-fallback(margin, 0, -15);

    .item-least {
      @include rem-fallback(padding, 0, 15);
      flex: 0 0 25%;
      max-width: 25%;

      @include bp(tablet-max) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include bp(xxxs-max) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      &.Gallery-partc {
        .img-content-card.video-block {
          .img-box {
            &:first-child {
              @include rem-fallback(margin-bottom, 25);
            }

            .play-btn {
              img {
                @include rem-fallback(height, 30);
                @include rem-fallback(width, 30);
              }
            }

            .img-content-wrapper {
              .img-content {
                background-color: $light_blck;

                span {
                  @include rem-fallback(font-size, 13);
                  line-height: 1.7;
                }
              }

              img {
                @include rem-fallback(min-height, 110);
              }
            }
          }
        }
      }

      .img-content-card {
        @include rem-fallback(padding, 0);
        @include rem-fallback(margin-bottom, 15);
        @include rem-fallback(max-width, 400);

        .img-box {
          .img-content-wrapper {
            width: 100%;
            @include rem-fallback(border-radius, 4);
            img {
              width: 100%;
              @include rem-fallback(max-height, 115);
            }
          }
        }

        .content-box {
          background-color: transparent;
          color: $white;
          @include rem-fallback(padding, 10, 0);
          @include rem-fallback(min-height, 67);
        }
      }

      .img-content-card.small_img {
        @include rem-fallback(margin-bottom, 0);

        .content-box {
          @include rem-fallback(padding, 0, 0, 5, 0);
          color: $black;
          min-height: auto;

          h3 {
            @include rem-fallback(margin-bottom, 10);
          }
        }

        .two_part {
          .img-box {
            @include rem-fallback(margin-bottom, 25);
            @include rem-fallback(border-radius, 4);
            .img-content-wrapper {
              overflow: hidden;

              img {
                @include rem-fallback(min-height, 110);
              }
            }
          }
        }
      }
    }
  }
}
// event-detail-section
.event-detail-section {
  @include rem-fallback(padding, 30, 0);

  .event-detail-least {
    ul {
      display: flex;
      list-style-type: none;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      @include rem-fallback(margin, 0, -10);

      li {
        flex: 0 0 16.66%;
        max-width: 16.66%;

        @include bp(tablet-max) {
          flex: 0 0 33.33%;
          max-width: 33.33%;
        }

        @include bp(xxxs-max) {
          flex: 0 0 50%;
          max-width: 50%;
        }

        @include rem-fallback(padding, 0, 10);
        @include rem-fallback(margin-bottom, 10);

        a {
          background-color: $gray;
          text-align: center;
          color: $white;
          @include rem-fallback(padding, 10);
          width: 100%;
          text-decoration: none;
          transition: all 0.6s;

          &:hover {
            background-color: $red;
          }

          img {
            @include rem-fallback(height, 50);
            @include rem-fallback(width, 50);
            object-fit: contain;
            @include rem-fallback(margin-bottom,10)
          }

          p {
            margin-bottom: 0;
            @include rem-fallback(font-size, 18);

            @include bp(smlg-max) {
              @include rem-fallback(font-size, 14);

              @include bp(xxxs-max) {
                @include rem-fallback(font-size, 14);
              }
            }

            @include bp(xxxs-max) {
              @include rem-fallback(font-size, 12);
            }

            @include bp(xlg-max) {
              @include rem-fallback(font-size, 15);
            }
          }
        }
      }
    }
  }
}

// footer
footer {
  position: relative;
  font-family: $font-family-secondary;
  @include rem-fallback(padding, 20, 0, 80, 0);
  background-color: $red;
  color: $white;
  font-weight: 400;

  @include rem-fallback(margin-top,-323);

  h5 {
    @include rem-fallback(margin-bottom, 15);

    &.item-heading {
      position: relative;

      @include bp(smd-max) {
        cursor: pointer;
      }

      &::after {
        display: none;

        @include bp(smd-max) {
          display: block;
        }
        position: absolute;
        top: 50%;        
        @include rem-fallback(right,10);
        transform: translateY(-50%);
        content: "";
        @include rem-fallback(height,15);
        @include rem-fallback(width,15);
        object-fit: cover;
        background-image: url(../../public/images/drop-down-arrow.png);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.7s;
      }

      &.toggle-slide {
        &::after {
          transform: rotate(180deg);
        }
      }

    }

  }

  p {
    @include rem-fallback(font-size, 13);
    @include rem-fallback(margin-bottom, 12);
    line-height: 1.38;
  }

  .sign-up_box {
    @include rem-fallback(margin-bottom, 15);
    display: flex;

    input {
      @include rem-fallback(padding, 0, 10);
      @include rem-fallback(border, 0);
      @include rem-fallback(border-radius, 3);
      width: 100%;

      &:focus-visible {
        outline: none;
      }
    }

    .sign-up_btn {
      background-color: $yellow;
      outline: none;
      color: $white;
      @include rem-fallback(font-size, 14);
      @include rem-fallback(padding, 4, 8);
      @include rem-fallback(min-width, 100);
      @include rem-fallback(margin-left, 5);

      &:focus-visible {
        outline: none;
      }

      &:focus {
        outline: 0;
        box-shadow: none;
      }

      &:hover {
        color: $white;
        background-color: $red;
        border: 1px solid $white;
      }
    }
  }

  .top-footer {
    .footer-item-list {
      display: flex;
      flex-wrap: wrap;

      @include bp(smd-max) {
        flex-direction: column
      }

      @include rem-fallback(margin, 0, -10);

      .footer-item {
        @include rem-fallback(padding, 0, 10);
        flex: 0 0 17%;
        max-width: 17%;

        @include bp(smd-max) {
          flex: 0 0 100%;
          max-width: 100%;
        }

        &.sign-up {
          flex: 0 0 32%;
          max-width: 32%;

          @include bp(smd-max) {
            flex: 0 0 100%;
            max-width: 100%;
            order: -1;
            @include rem-fallback(margin-bottom, 10)
          }

          .partenership-box {
            display: flex;
            @include rem-fallback(margin, 0, -10);

            .partener {
              flex: 0 0 50%;
              max-width: 50%;
              @include rem-fallback(padding, 0, 10);
              height: 100%;
              width: 100%;

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                @include rem-fallback(max-width,140)
              }
            }
          }
        }

        ul {
          list-style-type: none;

          li {
            @include rem-fallback(font-size, 13);
            line-height: 2;

            a {
              color: $white;

              &:hover {
                text-decoration: none;
                color: $yellow;
              }
            }

            .like {
              @include rem-fallback(font-size, 11);
            }

            span {
              @include rem-fallback(margin-left, 10);
              @include rem-fallback(font-size, 13);
            }

            button {
              @include rem-fallback(padding, 0, 5);
              color: $white;
              line-height: 0.8;

              &:focus {
                box-shadow: none;
              }

              &.follow-btn {
                background-color: $white;
                color: $black;
              }

              &.like-btn {
                background-color: $light_blue;
              }

              span {
                @include rem-fallback(font-size, 11);
              }
            }
          }
        }

        img {
          object-fit: contain;
          @include rem-fallback(height, 20);
          @include rem-fallback(width, 20);
        }
      }
    }
  }

  .bottom-footer {
    background-color: $blur_black;
    @include rem-fallback(padding, 10, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .bottom-footer-content {
      display: flex;
      justify-content: space-between;
      @include rem-fallback(font-size, 13);
      line-height: 2;

      @include bp(xs-max) {
        display: block;
        text-align: center;
      }

      .footer-left-side {
        ul {
          display: flex;
          list-style: none;
          justify-content: center;

          li {
            a {
              text-decoration: none;
              color: $white;
              @include rem-fallback(padding, 0, 10);

              &:hover {
                color: $yellow;
              }
            }
          }
        }
      }
    }
  }
}